---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title="CV"
			description="Professional experience and contributions"
		/>
	</head>
	<body>
		<Header />
		<main>
			<h1>CV</h1>

			<h2>Open Source contributions</h2>
			<ul>
				<li>
					<a
						href="https://github.com/jwt/ruby-jwt/pull/346"
						target="_blank">JWT Ruby</a
					> (July 2020) | <a
						href="https://medium.com/@jasonkingsley.brown/the-ups-and-downs-of-open-source-46160cd384a6"
						target="_blank">blog post</a
					>
				</li>
				<li>
					<a
						href="https://github.com/scalatra/scalatra/pulls?q=is%3Apr+author%3Ajb08+is%3Aclosed"
						target="_blank">Scalatra Swagger specification</a
					> (April 2017)
				</li>
				<li>
					<a
						href="https://github.com/swagger-api/validator-badge/pull/109"
						target="_blank">Swagger</a
					> (May 2017)
				</li>
			</ul>

			<h2>Written Topics</h2>
			<ul>
				<li>
					<a
						href="https://medium.com/@jasonkingsley.brown/rollback-revert-roll-forward-oh-my-1753d8d2e079"
						target="_blank">Incident management</a
					> (Mar 2022)
				</li>
				<li>
					<a
						href="https://medium.com/@jasonkingsley.brown/how-we-onboard-new-engineers-part-i-37313080a1a8"
						target="_blank">Onboarding engineers</a
					> (Feb 2022)
				</li>
				<li>
					<a
						href="https://medium.com/checkr/its-always-greener-on-the-other-pipeline-5139ed849aef"
						target="_blank">CI/CD health</a
					> (Sept 2021)
				</li>
				<li>
					<a
						href="https://medium.com/checkr/international-expansion-and-multi-region-deployments-2dc49b7305b0"
						target="_blank">Multi-region deployments</a
					> (Mar 2021)
				</li>
				<li>
					<a
						href="https://medium.com/@jasonkingsley.brown/the-ups-and-downs-of-open-source-46160cd384a6"
						target="_blank">Open source</a
					> (July 2020)
				</li>
				<li>
					<a
						href="https://medium.com/uptake-tech/migrating-to-java-11-while-maintaining-a-java-8-client-library-f618a3ca6499"
						target="_blank">Client libraries</a
					> (May 2019)
				</li>
			</ul>

			<h2>Side-projects</h2>
			<ul>
				<li>
					<a
						href="https://becktonredangussaledata.com"
						target="_blank">becktonredangussaledata.com</a
					> (demo <a href="/demos">here</a>)
				</li>
				<li>
					<a href="https://aroundwinstondowns.net" target="_blank"
						>aroundwinstondowns.net</a
					>
				</li>
				<li>
					<a href="https://onedesigntrader.org" target="_blank"
						>onedesigntrader.org</a
					>
				</li>

				<li>
					<a href="/">jasonbrownsoftware.net</a>
				</li>
			</ul>
			<h1>Checkr</h1>

			<h2>Projects in Changelog</h2>
			<ul>
				<li>
					Customer self-service for single sign on (<a
						href="https://help.checkr.com/hc/en-us/articles/4403169289495-Self-Service-SSO-Enable-Single-Sign-On-using-SAML-for-your-account"
						target="_blank">help center link</a
					>)
				</li>
				<li>
					Non-US candidate login to candidate portal (<a
						href="https://help.checkr.com/hc/en-us/articles/5874229419927-How-do-I-log-into-the-Candidate-Portal-"
						target="_blank">help center link</a
					>)
				</li>
				<li>
					Helping candidates get their records expunged (<a
						href="https://checkr.com/blog/checkr-launches-expungement-solution"
						target="_blank">Checkr blog post</a
					>)
				</li>
				<li>
					All account types can order non-US checks (<a
						href="https://help.checkr.com/hc/en-us/sections/115002221808-International-background-check-FAQs"
						target="_blank">help center link</a
					>)
				</li>
				<li>
					Identity Document validation screening (<a
						href="https://help.checkr.com/hc/en-us/articles/4419186249111-International-Identity-Document-Validation-IDV-"
						target="_blank">help center link</a
					>)
				</li>
				<li>Screening country history requirement configurability</li>
				<li>
					Unified platform for Canadian customers (<a
						href="https://help.checkr.com/helpcenter/s/article/5680792821527-Canada-Updates-to-Checkr-Canada-accounts"
						target="_blank">help center link</a
					>)
				</li>
				<li>
					More reliable code continuous integration process (<a
						href="https://medium.com/checkr/its-always-greener-on-the-other-pipeline-5139ed849aef"
						target="_blank">blog post</a
					>)
				</li>
				<li>
					Non-US API support (<a
						href="https://docs.checkr.com/"
						target="_blank">documentation</a
					>)
				</li>
				<li>
					Improved exception process for candidates (<a
						href="https://help.checkr.com/helpcenter/s/article/360036779473-How-do-I-submit-additional-information-or-documentation-to-Checkr"
						target="_blank">help center link</a
					>)
				</li>
				<li>Screening requirements internal frontend application</li>
				<li>
					Fair chance dashboard (<a
						href="https://checkr.com/blog/introducing-the-checkr-fair-chance-dashboard"
						target="_blank">Checkr blog post</a
					>)
				</li>
				<li>
					Faster education verifications in Canada (release notes)
				</li>
				<li>
					Improvements to education verification screening (<a
						href="https://updates.checkr.com/announcements/download-documents-for-international-education-verification"
						target="_blank">release notes</a
					>)
				</li>
				<li>
					Improved Canada digital identity verification (<a
						href="https://updates.checkr.com/announcements/digital-identity-verification-in-canada"
						target="_blank">release notes</a
					>)
				</li>
				<li>
					Multi-language support (<a
						href="https://help.checkr.com/hc/en-us/articles/5107197251863-How-can-I-change-the-language-of-my-background-check-application-"
						target="_blank">help center link</a
					>)
				</li>
				<li>
					Non-US Apply flow address configurability (<a
						href="https://updates.checkr.com/announcements/international-address-history"
						target="_blank">release notes</a
					>)
				</li>
				<li>
					Improvements to the candidate exception process (<a
						href="https://help.checkr.com/helpcenter/s/article/360036779473-How-do-I-submit-additional-information-or-documentation-to-Checkr"
						target="_blank">help center link</a
					>)
				</li>
			</ul>

			<h2>Hackathons</h2>
			<ul>
				<li>
					Expungements (Jan 2020): <a
						href="https://checkr.com/blog/checkrs-expungement-service"
						target="_blank">official announcement</a
					> | <a
						href="https://medium.com/@jasonkingsley.brown/hackathon-recap-winning-formula-397c8a1fd3b8"
						target="_blank">blog post</a
					>
				</li>
				<li>
					Fair Chance Dashboard (Jan 2023): <a
						href="https://checkr.com/blog/introducing-the-checkr-fair-chance-dashboard"
						target="_blank">official announcement</a
					>
				</li>
				<li>Improvements to frontend application (Aug 2023)</li>
				<li>Adding AI to improve user experience (Aug 2024)</li>
				<li>Adding AI to improve turnaround times (April 2025)</li>
				<li>Human-in-the-loop AI Workflows (Jan 2026)</li>
			</ul>

			<h2>Code contributions</h2>
			<p>
				Authored <code>1000</code> backend merged pull-requests and <code
					>150</code
				> frontend ones, while reviewing <code>1400</code> merged pull-requests.
			</p>

			<div class="screenshots">
				<img src="/assets/merged_prs.png" alt="Merged pull requests" />
				<img
					src="/assets/reviewed_prs.png"
					alt="Reviewed pull requests"
				/>
			</div>

			<h1>Resume</h1>
			<p>
				<a href="/assets/jason_brown_resume.pdf" target="_blank"
					>jason_brown_resume.pdf</a
				>
			</p>
		</main>
		<Footer />
	</body>
</html>

<style>
	.screenshots {
		display: flex;
		gap: 1rem;
		margin: 2rem 0;
		flex-wrap: wrap;
	}

	.screenshots img {
		max-width: 100%;
		height: auto;
		border: 1px solid #ddd;
		border-radius: 4px;
		flex: 1;
		min-width: 300px;
	}
</style>
