---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Demos" description="Video demos and presentations" />
	</head>
	<body>
		<Header />
		<main>
			<h1>Demos</h1>
			<p>
				<em>Note: I use a paid Zight subscription to record work demos at end-of-sprints. However they cannot be shared here. Here a few public demos.</em>
			</p>

			<h2>becktonredangussaledata.com</h2>
			
			<p>
				This online catalog was a ranch cattle sale in November 2025. It was a Ruby on Rails App, hosted on Render, dns from Cloudflare, and observability from Honeycomb.io. The demo was recorded prior to the catalog being taken down post-auction.
			</p>
			
			<div class="video-container">
				<video 
					controls
					preload="metadata"
				>
					<source src="/assets/beckton_bulls.mp4" type="video/mp4" />
					Your browser does not support the video tag.
				</video>
			</div>

			<h2>Rocky Mountain Ruby</h2>
			
			<p>
				This was a lightening talk about the <a href="https://github.com/temporalio/sdk-ruby" target="_blank">new Temporal Ruby sdk</a>. It was recorded in Boulder, CO on October 7, 2025.
			</p>
			
			<div class="video-container">
				<iframe 
					width="560" 
					height="315" 
					src="https://www.youtube.com/embed/tn-xv7XssbM?start=2396" 
					title="Rocky Mountain Ruby 2025" 
					frameborder="0" 
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
					allowfullscreen
				></iframe>
			</div>
		</main>
		<Footer />
	</body>
</html>

<style>
	.video-container {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		max-width: 100%;
		margin: 2em 0;
	}
	
	.video-container iframe,
	.video-container video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: none;
	}
	
	h2 {
		margin-top: 0;
	}
</style>
