---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
		<h1>Wecome! </h1>
		<p> 
			My name is Jason Brown, a Denver, Colorado -based software engineer. Welcome to my personal software blog. It is meant to be a collection of posts, demo videos, conference notes, etc.
		</p>
		<p>
		 	Since 2019, I have kept a software blog at <a href="https://medium.com/@jasonkingsley.brown" target="_blank" rel="noopener noreferrer">https://medium.com/@jasonkingsley.brown</a>. Given AI-enabled development has made coding 10x more efficient, I have decided to start this static site for future blog posts.
		</p>
		<p>
			Thanks for visiting!
		</p>
	</main>
		<Footer />
	</body>
</html>
